.main-stats {
    width: 50%;
    margin-left: 25%;
    text-align: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid black !important; 
    text-align: center;
    padding: 8px;
  }

.table-elem {
    text-align: center;
}

td:nth-child(1) {
    text-align: left;
  }

tr:nth-child(1) {
    background-color: rgb(197, 4, 4);
    color: aliceblue;
  }

  tr:nth-child(3) {
    background-color: rgba(197, 4, 4, 0.39);
  }